@model List<SmkNgawi.DTOs.StudentDetailResponse>

<h2>Daftar Siswa SMK Ngawi</h2>

<a href="/Student/Create" class="btn btn-primary">Tambah Siswa Baru</a>
<br /><br />

<table border="1" cellpadding="10" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Lengkap</th>
            <th>Kelas</th>
            <th>Jurusan</th>
            <th>Tanggal Daftar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.ClassName</td>
                <td>@item.MajorName</td>
                <td>@item.RegistrationDate</td>
                

            </tr>
        }
    </tbody>
</table>